body {background-color: aquamarine;}

.fondo {
    background-color: white;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 5%;
}
.head {
    background-color: purple;
    width: 95%;
    height: 22.5%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
}
.body {
    background-color: green;
    width: 47.5%;
    height: 70%;
    position: absolute;
    top: 27.5%;
    left: 2.5%;
}
.side {
    background-color: pink;
    width: 21%;
    height: 70%;
    position: absolute;
    top: 27.5%;
    left: 76%;
}
#side2 {
    background-color: pink;
    width: 21%;
    height: 70%;
    position: absolute;
    top: 27.5%;
    left: 52.5%;
}
#cuadrado1 {
    border: 3px solid black;
    background-color: yellow;
    width: 80%;
    height: 15%;
    position: absolute;
    top: 80%;
    left: 10%
}
#cuadrado2 {
    border: 3px solid black;
    background-color: yellow;
    width: 60%;
    height: 15%;
    position: absolute;
    top: 5%;
    left: 20%
}